* {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px yellow;
    color: rgb(21, 22, 20);
    margin-top:  0;
}

h3 {
    text-decoration: none;
}

#register {
    -webkit-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    width: 30em;
    height: 30em;
}

#login {
    width: 30em;
    height: 25em;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* -webkit-box-shadow: 0px 33px 117px -33px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 33px 117px -33px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 33px 117px -33px rgba(0, 0, 0, 0.68); */
    -webkit-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100vw;
    height: 100vh; */
    /* width: 100%;
    height: 100%; */
}

#biouploader {
    position: absolute;
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* -webkit-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68); */
}

#bio {
    position: relative;
    top: 300px;
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    z-index: 2;
    background: white;
    -webkit-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
}

#uploader {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
}

#up {
    position: relative;
    text-align: center;
    top: -350px;
    width: 300px;
    margin: 0 auto;
    padding: 50px;
    z-index: 4;
    background: white;
    -webkit-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
    box-shadow: 67px 63px 112px -7px rgba(0, 0, 0, 0.68);
}

#opp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    height: 90vh;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

#label {
    font-size: 1.5em;
}

input {
    width: 11.5em;
    height: 2em;
    font-size: 1.5em;
    margin-top: 10px;
}

.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button {
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    width: 12em;
}

button:hover {
    background-color: white;
    color: black;
}

textarea {
    resize: none;
    font-size: 1.5em;
    width: 10em;
    height: 2em;
}

.welcome {
    position: absolute;
}

.err {
    font-size: 20px;
}

.small {
    width: 7em;
    height: 7em;

    border-radius: 50%;
}
.big {
    width: 30em;
    height: 30em;
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-style {
    text-decoration: none;
    color: black;
}

.link-style:hover {
    text-decoration: none;
    text-shadow: 2px 2px 2px yellow;
}
.pendingList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.friendsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 7em;
    height: 6em;
    position: relative;
}

.onlineImage {
    width: 15em;
    height: 15em;
}

.pendingImg {
    width: 20em;
    height: 20em;
}

.friendImg {
    width: 20em;
    height: 20em;
}

.biotext {
    width: 12em;
}

.button-links {
    background-color: white;
    color: black;
    text-decoration: none;
}

.grow {
    flex-grow: 1;
}

/* ////chat//// */
.chatty {
    padding-top: 1em;
}

.chatsImage {
    border: 1px black solid;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.write-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#chat {
    width: 11.5em;
}

.chat-img-left {
    margin: 10px;
    border: black;
}

.time {
    flex-grow: 2;
}

.chats {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    width: 30em;
    border: 1px black solid;
}
